/* Base Styles and Reset */
*, *:before, *:after { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

html { 
  font-size: 16px; 
  scroll-behavior: smooth; 
}

@media (min-width: 768px) { 
  html { font-size: 18px; } 
}

@media (min-width: 1200px) { 
  html { font-size: 20px; } 
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-primary);
  background-color: var(--background-dark);
  font-family: var(--font-sans);
  font-size: var(--font-size-small);
  will-change: scroll-position;
}

.section { 
  width: 100%; 
  position: relative; 
  transition: all 0.6s ease;
}

